@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
/** GLOBAL **/
:root{
    --primary-color-body-background-dark: rgb(230, 230, 230);
    --primary-color-header-background: #fff;
    --logo-color: #000;
    --input-color-outline-focus: #89b5ee;
    --auth-btn-color: #065fd4;
    --light-divider-color: #dbdbdb;
    --dark-divider-color:#3c3c3c;
    --youtube-btn: #cc0000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body{
    font-size: 62.5%;
    background-color: var(--primary-color-body-background-dark);
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
i{
    font-size: 3rem;
}
iframe{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}
li{
    list-style: none;
}
input:focus{
    outline-color: var(--input-color-outline-focus);
}
.btn {
    outline: none;
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
}
/**HEADER **/
.header {
    height: 60px;
    background-color: var(--primary-color-header-background);
}
.nav-container{
    padding: 1rem 2rem;
}
.nav{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.nav__left{
    display: flex;
    align-items: center;
}
.menu, .apps, .ellipsis {
    margin-right: 2rem;
}
.youtube-logo-link{
    color: var(--logo-color);
}
.title{
    font-weight: bold;
    font-size: 2rem;
}
.youtube-logo{
    width: 100px;
    height: 50px;
}
.nav__center{
   width: 100%;
}
.center-content{
    margin: 0 auto;
    width: 72%;
    display: flex;
}
.search{
    display: flex;
    flex-basis: calc(90% - 4rem);
    
}
.input{
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    width: 100%;
}
.search-btn{
    padding: 0.25rem 2.5rem;
}
.subscribe-btn{
    background-color: var(--youtube-btn);
    color: #fff;
    padding: 0 1.5rem;
}
.search-btn i {
    font-size: 1.8rem;
    border-radius: 0;
}
.auth-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    border: 1px solid var(--auth-btn-color);
    align-items: center;
    font-weight: bold;
}
.auth-btn .account-icon{
    margin-right: 0.8rem;
}
.auth-text{
    font-size: 1.5rem;
}
.main-container{
    padding: 2rem 10rem;
}
.content{
  display: grid;
  grid-template-columns: 65% 35%;
  grid-column-gap: 2rem;
}

.left__content{
   width: 100%;
}
.left__content-top{
    width: 100%;
}

.left__content-top .top{
    margin-bottom: 2rem;
}
.video-title {
    font-size: 2.5rem;
    font-weight: 300;
}
.left__content-top .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--light-divider-color);
}

.views__date{
    font-weight: 300;
    display: flex;
    height: auto;
    align-items:flex-start;
}
.views__date > span {
    font-size: 1.5rem;
}
.dot{
    margin: 0 0.45rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.externals{
    display: flex;
}
.mr {
    margin-right: 2rem;
}
.externals .btn{
    display: inline-flex;
    align-items: center;
}
.externals i {
    color: #534d4d;
}
.left__content-description{
    display: flex;
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--light-divider-color);
    align-items: flex-start;
}

.creator_logo{
    display: inline-block;
    width: 150px;
    height: auto;
    border-radius: 50%;

}
.creator_logo img{
    border-radius: inherit;
    display: inline;
}
.description__content{
    padding: 0 1.5rem;
}
.description__content .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}
.creator__name{
    font-size: 1.35rem;
    margin-bottom: 0.5rem;
}
.creator__name i{
    font-size: 1.35rem;    
}
.subscribers{
    font-size: 1.35rem;
    font-weight: 300;
}

.desc__summary{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #534d4d;
}
.comments__stats{
    padding: 2.5rem 0;
    font-size: 1.8rem;
    color: #534d4d;
}
.comments_count{
    margin-right: 2rem;
}
.sort-btn{
    color: #534d4d;
}
.sort-btn i{
    color: #534d4d;
    font-size: 1.8rem;
}
.comment__form{
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-column-gap: 2rem;
}
.user__avatar{
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.user__avatar img{
    border-radius: inherit;
    display: inline;
}
.comment__form input{
    outline: none;
    border: 0;
    border-bottom: 1px solid #534d4d;
    background-color: inherit;
    font-size: 1.5rem;
}
.comment {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    grid-column-gap: 2rem;
}
.comment__user__duration{
    margin-bottom: 0.8rem;
}
.comment__user__duration > span{
    color: #534d4d;
    font-size: 1.35rem;
}
.comment__user__duration span:nth-child(2) {
    font-weight: 100;
}
.comment__text{
    font-size: 1.4rem;
    color:#534d4d;
    margin-bottom: 0.3rem;
}
.interaction-icons{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}
.interaction-icons i{
    font-size: 1.5rem;
    color:#534d4d;
}
.interaction-icons li{
    margin-right: 1.8rem;
}
.icon-btn{
    color: #534d4d;
    font-size: 1.5rem;
}