@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
/** GLOBAL **/
:root{
    --primary-color-body-background-dark: rgb(230, 230, 230);
    --primary-color-header-background: #fff;
    --logo-color: #000;
    --input-color-outline-focus: #89b5ee;
    --auth-btn-color: #065fd4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body{
    font-size: 62.5%;
    background-color: var(--primary-color-body-background-dark);
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}
i{
    font-size: 3rem;
}
input:focus{
    outline-color: var(--input-color-outline-focus);
}
.btn {
    outline: none;
    border: none;
    background-color: none;
    background: none;
    cursor: pointer;
}
/**HEADER **/
.header {
    height: 60px;
    background-color: var(--primary-color-header-background);
}
.nav-container{
    padding: 1rem 2rem;
}
.nav{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.nav__left{
    display: flex;
    align-items: center;
}
.menu, .apps, .ellipsis {
    margin-right: 2rem;
}
.youtube-logo-link{
    color: var(--logo-color);
}
.title{
    font-weight: bold;
    font-size: 2rem;
}
.youtube-logo{
    width: 100px;
    height: 50px;
}
.nav__center{
   width: 100%;
}
.center-content{
    margin: 0 auto;
    width: 72%;
    display: flex;
}
.search{
    display: flex;
    flex-basis: calc(90% - 4rem);
    
}
.input{
    padding: 0.5rem 1.5rem;
    font-size: 1.8rem;
    width: 100%;
}
.search-btn{
    padding: 0.25rem 2.5rem;
}
.search-btn i {
    font-size: 1.8rem;
    border-radius: 0;
}
.auth-btn {
    display: inline-flex;
    padding: 0.5rem 1rem;
    border: 1px solid var(--auth-btn-color);
    align-items: center;
    font-weight: bold;
}
.auth-btn .account-icon{
    margin-right: 0.8rem;
}
.auth-text{
    font-size: 1.5rem;
}